name: k6-test

on:
  schedule:
    - cron: '10 11 * * *' # roda todos os dias às 11:10
  workflow_dispatch:

jobs:
  test-k6:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositório
        uses: actions/checkout@v3

      - name: Instalar K6
        run: |
          sudo apt update
          sudo apt install -y gnupg software-properties-common
          curl -s https://dl.k6.io/key.gpg | sudo gpg --dearmor -o /etc/apt/trusted.gpg.d/k6.gpg
          echo "deb https://dl.k6.io/deb stable main" | sudo tee /etc/apt/sources.list.d/k6.list
          sudo apt update
          sudo apt install -y k6

      - name: Rodar teste de carga com K6
        run: k6 run teste.js --out json=resultado.json

      - name: Gerar relatório HTML
        run: |
          npm install -g xk6-reporter
          xk6-reporter --json resultado.json --output resultado.html

      - name: Fazer upload do relatório
        uses: actions/upload-artifact@v4
        with:
          name: relatorio-k6
          path: resultado.html